/* Opción más simple usando una fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');


/* ********** RESET CSS ********** */
:root{
      /* Variables CSS */
      --main-font:sans-serif;
      --font-size: 16px;
      --main-color: #f7d11e;  
      --second-color: #222;
      --main-modal-color: rgba(247,222,30,0.85);
      --second-modal-color: rgba(34,34,34,0.85);
      --container-width:1200px;
}


html{
      box-sizing: border-box;
      font-family: var(--main-font);
      font-size: var(--font-size);
      scroll-behavior: smooth; /* Suaviza la transicion */      
}

*, *:before, *:after {
      box-sizing: inherit; 
}

body{
      margin: 0;
      overflow-x: hidden; /* oculta lo que se desborda */

}

img {
      max-width: 100px;
      height: auto;
}


/* Menu de Hamburguesa */

.header {
      position: sticky; /* Se fija cuando la posicion es 0 */
      top:0;
      padding: 1rem;
      background-color: var(--main-color);
      color: var(--second-color)
}

.header h1{
      margin: 0 auto;
      text-align: center;
}

.section{
      padding: 2rem;
      padding-top: 4rem;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: var(--container-width);
      min-height: 100vh;
      text-align: center;

}

.panel {
      position: fixed;
      z-index: 998;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background-color: var(--second-modal-color);
      transition: transform 0.3s ease ;
      /* de arriba */
      transform: translate(0,-100%);
      /* de abajo */
      transform: translate(0,100%);
      /* de derecha */
      transform: translate(100%,0);
      /* de izquierda */
      transform: translate(-100%,0);
}

.panel.is-active{
      transform: translate(0,0);
}

.panel-btn{
      position: fixed;
      z-index: 999; /* permite que ningun elemento se coloque por encima del elemento */
      bottom: 1vh;
      right: 1vw;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--main-color);

}

.menu{
      width: inherit; /* hereda la altura de su contenedor */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;

}

.menu a{
      padding: 2rem;
      width: inherit;
      display: block;
      font-size: 1.5rem;
      text-decoration: none;
      color: var(--main-color);
      transition: all 0.3s ease;    
}

.menu a:hover{
      font-weight: bold;
      color: var(--second-color);
      background-color: var(--main-modal-color);
}     

/* RELOJ */
/*  Mejora Botones */
button {
    /* Tipografía y Espaciado */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;

    /* Apariencia Moderna */
    border: none; /* Eliminar el borde antiguo */
    border-radius: 8px; /* Bordes redondeados sutiles */
    cursor: pointer;
    text-transform: uppercase; /* Para un look más profesional */
    letter-spacing: 0.5px;
    transition: background-color 0.3s ease, transform 0.1s ease; /* Transiciones suaves */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
}


.digital-clock {
    /* Aplicamos la fuente */
    font-family: 'Chakra Petch', monospace; 
}

/* ********** EVENTOS DEL TECLADO **************/ 
.stage{
      display: flex;
      min-height: 50vh;
      background-color: var(--second-color);        
}

.ball{
      margin:auto;
      width:4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: var(--main-color);
}

